<div>
  <div class="related-videos-video" *ngFor="let video of videos" fxLayout="row">
    <div fxFlex="1 1 40%">
      <a [routerLink]="['/video/' + video.id]">
        <img src="{{ video.thumbnail }}" />
      </a>
    </div>
    <div class="meta-data" fxFlex="1 1 60%">
      <div fxLayout="column">
        <div class="title" fxFlex>
          <a [routerLink]="['/video/' + video.id]">{{ video.title }}</a>
        </div>
        <div fxFlex>
          <a
            class="username"
            [routerLink]="['/channel/' + video.user_id + '/videos']"
            href=""
            >{{ video.username }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
