.related-videos-video img {
  width: 100%;
  border-radius: 7.5px;
}

.related-videos-video {
  padding-bottom: 0.6em;
}

.related-videos-video .meta-data {
  padding: 0.3em 0.5em;
}

.title {
  margin-bottom: 0.2em;
}

.title a {
  text-decoration: none;
  color: black;
  font-weight: 450;
}

a.username {
  text-decoration: none;
  color: gray;
}
