#video-component-video {
  width: 100%;
  border-radius: 15px;
}

#video-component > .child-1 {
  padding: 0 0.7em;
}

#video-component > .child-2 {
  padding: 0 0.7em;
}

.title-div {
  margin-top: 0.8em;
}

.meta-data-div,
.comments-div {
  margin-bottom: 1em;
}

.user-div a {
  text-decoration: none;
  color: black;
  font-weight: 450;
}

.user-photo-div {
  margin-right: 0.3em;
}

.user-photo-div img {
  width: 100%;
}
