<div
  id="video-component"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
>
  <div class="child-1" fxFlex="1 1 65">
    <div fxLayout="column">
      <div fxFlex>
        <video
          id="video-component-video"
          src="{{ video.video }}"
          controls=""
        ></video>
      </div>

      <div class="title-div" fxFlex>
        <h1>{{ video.title }}</h1>
      </div>

      <div class="meta-data-div" fxFlex>
        <div fxLayout="row" fxLayoutAlign="none center">
          <div fxFlex="1 1 30%">
            {{ video.created_at | date }}
          </div>
          <div fxFlex="1 1 30%">
            <app-like-video
              *ngIf="video.id && user.id && authService.isLoggedIn()"
              [videoId]="video.id"
              [userId]="user.id"
            ></app-like-video>
            <app-like-video
              *ngIf="video.id && !authService.isLoggedIn()"
              [videoId]="video.id"
            ></app-like-video>
          </div>
        </div>
      </div>

      <div class="user-div" fxFlex>
        <div fxLayout="row">
          <div class="user-photo-div" fxFlex="1 1 8%">
            <a href="">
              <img src="{{ video.user_photo }}" />
            </a>
          </div>
          <div fxFlex>
            <a href="">{{ video.username }}</a>
          </div>
          <div fxFlex></div>
        </div>
      </div>

      <div class="description-div" fxFlex>
        <div fxLayout="row">
          <div fxFlex="1 1 8%"></div>
          <div fxFlex>
            <p>{{ video.description }}</p>
          </div>
        </div>
      </div>

      <div class="comments-div" fxFlex>
        <app-comments></app-comments>
      </div>
    </div>
  </div>
  <div class="child-2" fxFlex="1 1 35">
    <app-related-videos></app-related-videos>
  </div>
</div>
