<div
  id="video-component"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
>
  <div class="child-1" fxFlex="1 1 65">
    <div fxLayout="column">
      <div fxFlex>
        <video
          id="video-component-video"
          src="{{ video.video }}"
          controls=""
          [autoplay]="environment.production == true"
        ></video>
      </div>

      <div class="title-div" fxFlex>
        <h1>{{ video.title }}</h1>
      </div>

      <div class="meta-data-div" fxFlex>
        <div fxLayout="row" >
          <div fxFlex="30%" fxLayoutAlign="none top">
            <div fxLayout="row" class="user-div">
              <div class="user-photo-div" fxFlex="45px">
                <a [routerLink]="['/channel/' + video.user_id + '/videos']">
                  <img src="{{ video.user_photo }}" />
                </a>
              </div>
              <div fxFlex>
                <a [routerLink]="['/channel/' + video.user_id + '/videos']" class="user-link">{{
                  video.username
                }}</a>
              </div>
            </div>
          </div>
          <div fxFlex="27%" fxFlex.xs="1 1 35%">
            <app-like-video
              *ngIf="video.id && user.id && authService.isLoggedIn()"
              [videoId]="video.id"
              [userId]="user.id"
            ></app-like-video>
            <app-like-video
              *ngIf="video.id && !authService.isLoggedIn()"
              [videoId]="video.id"
            ></app-like-video>
          </div>
        </div>
      </div>

      <!-- <div class="description-div" fxFlex>
        <div fxLayout="column">
          <div fxFlex>
            {{ video.created_at | date }}
          </div>
          <div fxFlex>
            <p>{{ video.description }}</p>
          </div>
        </div>
      </div> -->

      <!-- #region new design 1 -->

      <!-- <div class="video-description-card mat-elevation-z1" fxFlex>
        <div fxLayout="column" fxLayoutGap="12px">
          <div class="metadata" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="date">
              <mat-icon class="metadata-icon">calendar_today</mat-icon>
              {{ video.created_at | date:'mediumDate' }}
            </div>
            <div class="views" *ngIf="true">
              <mat-icon class="metadata-icon">visibility</mat-icon>
              300
            </div>
          </div>
          <div class="title-container" *ngIf="video.title">
            <h3 class="title">{{ video.title }}</h3>
          </div>
          <div class="description-container">
            <p class="description">{{ video.description }}</p>
          </div>
          <div class="actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <button mat-icon-button color="primary" aria-label="Like">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Share">
              <mat-icon>share</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Save to playlist">
              <mat-icon>playlist_add</mat-icon>
            </button>
          </div>
        </div>
      </div> -->

      <!-- #endregion -->

      <!-- #region new design 2 -->

      <div class="video-description-card" fxFlex>
        <div fxLayout="column" fxLayoutGap="12px">
          <div class="metadata" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="date">
              <mat-icon class="metadata-icon">calendar_today</mat-icon>
              {{ video.created_at | date:'mediumDate' }}
            </div>
            <!-- <div class="views" *ngIf="true">
              <mat-icon class="metadata-icon">visibility</mat-icon>
              300
            </div> -->
          </div>
          <div class="description-container">
            <p class="description">{{ video.description }}</p>
          </div>
          <!-- <div class="actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <button mat-button color="primary" aria-label="Share" class="flat-button">
              <mat-icon>share</mat-icon>
              <span class="action-text">Compartir</span>
            </button>
            <button mat-button color="primary" aria-label="Save to playlist" class="flat-button">
              <mat-icon>playlist_add</mat-icon>
              <span class="action-text">Guardar</span>
            </button>
          </div> -->
        </div>
      </div>

      <!-- #endregion -->

      <!-- #region new design 3 -->



      <!-- #endregion -->
      
      <div class="comments-div" fxFlex>
        <app-comments
          [userId]="user.id"
          [videoId]="video.id"
          *ngIf="user.id && video.id && authService.isLoggedIn()"
        ></app-comments>
        <app-comments
          [videoId]="video.id"
          *ngIf="video.id && !authService.isLoggedIn()"
        ></app-comments>
      </div>
    </div>
  </div>
  <div class="child-2" fxFlex="1 1 35">
    <app-related-videos
      [videoId]="video.id"
      *ngIf="video.id"
    ></app-related-videos>
  </div>
</div>
