<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" >
	<div fxFlex="1 1 35%" ></div>
	<div id="login-div" fxFlex="1 1 30%" class="mat-app-background" >
		<div fxLayout="column" >
			<div id="h1-div" fxFlex >
				<h1>Entrar</h1>
			</div>
			<div fxFlex >
				<form>
					<mat-form-field appearance="fill">
					  <mat-label>Username</mat-label>
					  <input [(ngModel)]="username" name="username" type="text" matInput>
					</mat-form-field>

					<mat-form-field appearance="fill">
					  <mat-label>Password</mat-label>
					  <input [(ngModel)]="password" name="password" type="password" matInput>
					</mat-form-field>

					<button mat-raised-button (click)="login()" id="login-button" color="primary">Entrar</button>
				</form>
			</div>
			<br>
			<div fxFlex >
				Si aun no tienes una cuenta.
			</div>
			<br>
			<div fxFlex >
				<a mat-raised-button color="primary" href="" >Registrate</a>
			</div>
		</div>
	</div>
	<div fxFlex="1 1 35%" ></div>
</div>