<mat-progress-bar
  *ngIf="loadingPageService.getLoading()"
  mode="indeterminate"
  color="warn"
></mat-progress-bar>
<app-top-bar></app-top-bar>

<div class="container mat-app-background">

  <div class="flex-container" fxLayout="{{ layoutAlign }}">
    <div class="child-1" fxFlex="1 1 2%"></div>
    <div class="child-2" fxFlex="1 1 96%">
      <div id="top-bar-spacer" *ngIf="topBarSpacer"></div>
      <router-outlet></router-outlet>
    </div>
    <div class="child-3" fxFlex="1 1 2%"></div>
  </div>

  <router-outlet name="full-width"></router-outlet>
</div>
