#top-bar-spacer {
  margin-bottom: 1em;
}

.container {
  min-height: 100%;
}

.container:has(.login-container) {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container:has(.signup-container) {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}