#top-bar-spacer {
  margin-bottom: 1em;
}

.container {
  min-height: 100%;
}

.container:has(.login-container) {
  /* background-color: red; */
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}