.videos-component-video a {
  text-decoration: none;
  color: black;
  font-weight: 450;
}

.thumbnail {
  width: 100%;
}

.thumbnail img {
  width: 100%;
}

.videos-component-video {
  padding: 0 0.5em;
  padding-bottom: 1em;
}

.videos-component-video div:first-of-type img {
  border-radius: 8px;
}