#video-edit-component-video {
  width: 100%;
}

#form-div mat-form-field {
  width: 100%;
}

#form-div {
  padding: 0 1em;
}

#save-button-div {
  width: 100%;
  text-align: center;
}

#button-video-div {
  text-align: center;
}

#h1-div {
  text-align: center;
  margin-bottom: 1.5em;
}
