<div fxLayout="column">
  <div fxFlex id="h1-div">
    <h1>Subir video</h1>
  </div>
</div>

<form [formGroup]="videoForm" (ngSubmit)="save(videoForm.value)">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="1 1 40%">
      <div fxLayout="column">
        <div fxFlex>
          <video
            id="video-edit-component-video"
            src="{{ video.video }}"
            controls=""
            [autoplay]="environment.production == true"
          ></video>
        </div>
        <br />
        <div fxFlex id="button-video-div">
          <button
            (click)="videoInput.click()"
            mat-raised-button
            color="primary"
            type="button"
          >
            Elegir video
          </button>
          <input
            (change)="videoChange($event)"
            #videoInput
            [hidden]="true"
            id="photo-input"
            type="file"
          />
        </div>
        <br />
      </div>
    </div>

    <div fxFlex>
      <div fxLayout="column">
        <div fxFlex id="form-div">
          <mat-form-field appearance="fill">
            <mat-label>Titulo</mat-label>
            <input name="title" type="text" formControlName="title" matInput />
            <mat-error *ngIf="videoForm.controls.title.errors?.required">
              Por favor ingrese el titulo
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Descripcion</mat-label>
            <textarea
              [matAutosizeMinRows]="3"
              [matTextareaAutosize]="true"
              matInput
              formControlName="description"
              placeholder="Dejar un comentario publico ..."
            ></textarea>
            <mat-error *ngIf="videoForm.controls.description.errors?.required">
              Por favor ingrese la descripcion
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex></div>
      </div>
    </div>
  </div>

  <br />

  <div fxLayout="row">
    <div id="save-button-div" *ngIf="!uploadingVideo" fxFlex>
      <button mat-raised-button id="save-button" color="primary">
        Subir video
      </button>
    </div>
    <div id="spinner-div" *ngIf="uploadingVideo" fxFlex>
      <app-uploading-spinner></app-uploading-spinner>
    </div>
  </div>
</form>
