<div fxLayout="row" fxLayoutAlign="none center" id="like-comment-content">
  <div fxFlex="30px" >
    <button (click)="likeClick()" class="comment-reaction-button" mat-icon-button>
      <mat-icon>
        {{ likeComment === true ? "thumb_up_alt" : "thumb_up_off_alt" }}
      </mat-icon>
    </button>
  </div>
  <div fxFlex="32px">{{ commentLikes }}</div>
  <div fxFlex="30px" >
    <button (click)="dislikeClick()" class="comment-reaction-button" mat-icon-button>
      <mat-icon>
        {{ dislikeComment === true ? "thumb_down_alt" : "thumb_down_off_alt" }}
      </mat-icon>
    </button>
  </div>
  <div fxFlex="32px">{{ commentDislikes }}</div>
</div>
