#search-form-field {
  width: 100%;
  font-size: 1em;
}

#search-form {
  width: 95%;
}

::ng-deep #search-form .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, .12);
}