<div fxLayout="row" class="account-layout-div">
  <div fxFlex="1 1 20%" class="account-row">
    <div fxLayout="column">
      <div fxFlex>
        <img id="user-photo" src="{{ user.photo }}" />
      </div>

      <br />

      <div fxFlex id="photo-button-div">
        <button (click)="photo.click()" mat-raised-button color="primary">
          Cambiar foto
        </button>
        <input
          (change)="photoChange($event)"
          #photo
          [hidden]="true"
          id="photo-input"
          type="file"
        />
      </div>
    </div>
  </div>

  <div fxFlex class="account-row">
    <div fxLayout="column">
      <div fxFlex>
        <mat-form-field class="mat-form-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="user.username" matInput disabled />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxFlex class="account-row"></div>
</div>

<div fxLayout="row" class="account-layout-div">
  <div fxFlex id="button-div">
    <button (click)="updateUser()" mat-raised-button color="primary">
      Guardar
    </button>
  </div>
</div>
