#user-photo {
  width: 100%;
}

#photo-button-div {
  text-align: center;
}

.account-layout-div {
  padding: 1em;
}

.account-row {
  padding: 1em;
}

.mat-form-field {
  width: 100%;
}

#button-div {
  text-align: center;
}
