<div fxLayout="column">
  <div fxFlex>
    <h2>Comentarios</h2>
  </div>
  <div fxFlex>
    <app-add-comment
      [videoId]="videoId"
      [userId]="userId"
      (newComment)="addComment($event)"
    ></app-add-comment>
  </div>
  <div class="comment" *ngFor="let comment of comments" fxFlex>
    <app-comment
      [comment]="comment"
      [userId]="userId"
      *ngIf="authService.isLoggedIn()"
      (deleteComment)="deleteComment($event)"
    ></app-comment>
    <app-comment
      [comment]="comment"
      *ngIf="!authService.isLoggedIn()"
    ></app-comment>
  </div>
</div>
