.example-spacer {
  flex: 1 1 auto;
}

#username-span {
  margin-right: 0.7em;
}

mat-toolbar {
  padding-top: 3em;
  padding-bottom: 2.5em;
  font-size: 1em;
}

#mat-toolbar-layout-row {
  width: 100%;
}

.show-on-mobile {
  display: none;
}

@media (max-width: 768px) { /* Ajusta el tamaño según necesites */
  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important;
  }
}