<mat-toolbar color="primary" >
  <div fxLayout="row" id="mat-toolbar-layout-row" fxLayoutAlign="none center">
    <div fxFlex fxFlex.xs="150px" >
      <!-- <button [routerLink]="['/']" mat-button class="toolbar-button-1" >
        <mat-icon>video_library</mat-icon>&nbsp;&nbsp;LA Videos
      </button> -->
      <!-- #region Home button design -->
      <button [routerLink]="['/']" mat-button class="home-button">
        <div class="home-button-content">
          <div class="icon-container">
            <mat-icon>video_library</mat-icon>
          </div>
          <span class="button-text">LA Videos</span>
        </div>
      </button>
      <!-- #endregion Home button design -->
    </div>

    <div fxFlex fxFlex.xs="1 1 50%">
      <app-search></app-search>
    </div>

    <div fxFlex style="display: flex" fxLayout="row" fxLayoutAlign="end none">
      <!-- <span class="example-spacer"></span> -->

      <!-- logged user menu -->
      <div *ngIf="authService.isLoggedIn()">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <span id="username-span">{{ authService.user.username }}</span>
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            [routerLink]="['channel/' + authService.user.id + '/videos']"
            mat-menu-item
          >
            <mat-icon>account_circle</mat-icon>
            <span>Tu canal</span>
          </button>
          <button [routerLink]="['settings/account']" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configuracion</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesion</span>
          </button>
        </mat-menu>
      </div>

      <!-- login menu normal -->
      <div class="hide-on-mobile" 
      *ngIf="!authService.isLoggedIn()" f >
        <button
          [routerLink]="['/login']"
          mat-raised-button
          color="warn"
        >
          <mat-icon>account_circle</mat-icon>
          Entrar
        </button>
        &nbsp;
        <button
          [routerLink]="['/register']"
          mat-raised-button
          color="warn"
          class="hide-on-mobile"
        >
          Registrate
        </button>
      </div>

      <!-- login menu para dispositivos moviles -->
      <div class="show-on-mobile" 
      *ngIf="!authService.isLoggedIn()" >
        <button
          mat-button
          [matMenuTriggerFor]="loginMenu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #loginMenu="matMenu">
          <button
            [routerLink]="['/login']"
            mat-menu-item
          >
            <span>Entrar</span>
          </button>
          <button
            [routerLink]="['/register']"
            mat-menu-item
          >
            <span>Registrate</span>
          </button>
        </mat-menu>
      </div>
      
    </div>
  </div>
</mat-toolbar>
