<mat-toolbar class="mat-app-background">
  <div fxLayout="row" id="mat-toolbar-layout-row" fxLayoutAlign="none center">
    <div fxFlex>
      <a mat-button [routerLink]="['/']"> Inicio </a>
    </div>

    <div fxFlex fxFlex.xs="1 1 50%">
      <app-search></app-search>
    </div>

    <div fxFlex style="display: flex">
      <span class="example-spacer"></span>

      <div *ngIf="authService.isLoggedIn()">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <span id="username-span">{{ authService.user.username }}</span>
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            [routerLink]="['channel/' + authService.user.id + '/videos']"
            mat-menu-item
          >
            <mat-icon>account_circle</mat-icon>
            <span>Tu canal</span>
          </button>
          <button [routerLink]="['settings/account']" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configuracion</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesion</span>
          </button>
        </mat-menu>
      </div>

      <button
        *ngIf="!authService.isLoggedIn()"
        [routerLink]="['/login']"
        mat-raised-button
        color="primary"
      >
        <mat-icon>account_circle</mat-icon>
        Entrar
      </button>
      &nbsp;
      &nbsp;
      <button
        *ngIf="!authService.isLoggedIn()"
        [routerLink]="['/register']"
        mat-raised-button
        color="primary"
        class="hide-on-mobile"
      >
        Registrate
      </button>
    </div>
  </div>
</mat-toolbar>
