<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list fxHide.xs>
      <a mat-list-item [routerLink]="['account']">
        <span>Cuenta</span>
      </a>
    </mat-nav-list>
    <mat-nav-list fxHide fxShow.xs>
      <a mat-list-item [routerLink]="['account']">
        <mat-icon>account_circle</mat-icon>
      </a>
    </mat-nav-list>
    <mat-nav-list fxHide.xs>
      <a mat-list-item [routerLink]="['videos']">
        <span>Videos</span>
      </a>
    </mat-nav-list>
    <mat-nav-list fxHide fxShow.xs>
      <a mat-list-item [routerLink]="['videos']">
        <mat-icon>smart_display</mat-icon>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
