.comment-card {
  padding: 1rem;
  /* background-color: #fdfdfd; */
  border-radius: 0.75rem;
  border: 1px solid #e0e0e0;
  /* box-shadow: none; */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.comment-container {
  display: flex;
}

.comment-avatar .mat-icon {
  font-size: 3rem;
  color: #b0b0b0;
  width: 40px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-header {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.username {
  font-weight: 500;
  color: #2d2d2d;
  margin-right: 0.5rem;
}

.timestamp {
  font-size: 0.9rem;
  color: #999;
}

.comment-text {
  font-size: 1rem;
  color: #444;
  margin-bottom: 4px;
  line-height: 1.6;
}

.comment-actions {
  display: flex;
}

.comment-button {
  font-size: 0.9rem;
  color: #555;
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 0.5rem;
  text-transform: none;
  padding: 0.4rem 1rem;
  min-height: 2rem;
}
